# Razorpay Keys (Test Mode)
RAZORPAY_KEY_ID=rzp_test_SRkx6SM3ulNz6k
RAZORPAY_KEY_SECRET=apni_secret_key_yahan_daalo
RAZORPAY_WEBHOOK_SECRET=apna_webhook_secret_yahan_daalo

# Google Maps Geocoding API
GOOGLE_MAPS_API_KEY=apni_google_api_key_yahan_daalo

# Server
PORT=3000
